<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>TaskMaster</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

    <h1>Create new task</h1>

    <form method="post" action="/task-add">
        <p>Task name:
        <input name="task" placeholder="Task name" required></p>
        <p>Task description:
        <textarea rows="7" name="description" placeholder="Task description"></textarea></p>
        <p>Complete Date:
        <input name="complete_till" type="date"></p>
        <button>OK</button>
    </form>

</body>
</html>